Django==1.5.12
South==1.0.2
Pillow==2.6.0
html5lib==0.9999999
django-page-cms==1.5.3
django-authority==0.4 #serve a django-page-cms ma non è incluso nelle sue dipendenze
django-taggit==0.9.3
django-rosetta==0.7.4
akismet==0.2.0
django-filebrowser-no-grappelli==3.6.2
django-templatesadmin==0.7
django-tagging==0.3.1
python-memcached==1.48
django-filer==0.9.12
cmsplugin-filer==0.10.2
django-polymorphic==0.7.2
pytz
Fabric
django-crontab==0.4.2
-e git+git://github.com/dcramer/django-paypal.git#egg=django-paypal
django-cms==3.0.15
-e git+https://github.com/pythonitalia/microblog.git#egg=microblog
-e git+https://github.com/pythonitalia/hcomments.git#egg=hcomments
-e git+https://github.com/pythonitalia/conference.git#egg=conference
-e git+https://github.com/yakky/assopy.git@c020b96b920aa9f9b62e27df635ac05dd773ba13#egg=assopy
-e git+https://github.com/yakky/18app-python-sdk.git@8af619870f3162d6b76fe0aba44f8397b9ce2880#egg=python_18app
BeautifulSoup==3.2.1
django-markitup==2.2.2
markdown2==2.3.0
djangocms_text_ckeditor==2.6.0
easy_thumbnails==2.2
raven==5.1.1
djangocms-grid==1.2
simplejson  # Necessario per il Syncdb
aldryn-forms==0.6.0
aldryn-style==0.3.0
django-mptt==0.6.1
djangocms-admin-style==1.1.0
aldryn-boilerplates==0.7.4
