{% extends "p3/base.html" %}
{% load conference i18n p3 assopy_tags %}
{% block EXTRA_HEAD %}
    {% if form %}{{ form.media }}{% endif %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    {# Override CSS rule to allow typography & alignments   #}
    <style type="text/css">
        .profile-details .details-container dd {
            margin-left: 20%;
        }
    </style>

{% endblock %}

{% block PAGE_TITLE %}Job Board{% endblock %}


{% block MAIN_CONTENT %}
    <section>
        <div class="grid-container">
            <div class="grid-76">

                <h1>{% trans 'Job Offers' %}</h1>

                <div class="blog-archive">
                    <ul>
                        {% for offer in object_list %}
                            <li>

                                <div class="microblog post-summary">
                                    <h2 class="h4"><a title="Permalink a questa offerta" href="{% url 'job-detail' offer.slug %}">{{ offer.job_title }}</a></h2>
                                    <div class="summary">
                                        {{ offer.job_description|truncate_chars:150 }}
                                    </div>
                                    <div class="all-tags" style="padding-top: 10px;">
                                        {% for tag in offer.tags|split:"," %}
                                            <span class="tag">{{ tag }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="summary" style="text-align: right;">
                                        <a href="{% url 'job-detail' offer.slug %}" class="btn btn-small">{% trans 'Read more' %}<i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </li>
                            <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
