{% load i18n menu_tags sekizai_tags %}

{% if languages|length > 1 %}
    <form method="post" id="language-form" action="{% url 'set_language' %}">{% csrf_token %}<input type="hidden" name="next" value="{{ request.path_info }}"><input type="hidden" name="language" value=""></form>
{% for language in languages %}
{% if current_language != language.0 %}
<li class="main-navigation--lang lang{% if current_language = language.0 %} active{% endif %}">
	{% language language.0 %}
        {% if request.current_page and request.current_page.get_slug != 'blog' %}
	        <a href="{% page_language_url language.0 %}" title="{% trans 'Change to language:' %} {{ language.1 }}">{{ language.1 }}</a>
        {% elif request.current_page and request.current_page.get_slug == 'blog' %}
	        <a href="{% page_language_url language.0 %}" data-language="{{ language.0 }}" class="change-language" title="{% trans 'Change to language:' %} {{ language.1 }}">{{ language.1 }}</a>
        {% else %}
	        <a href="{{ request.path_info }}" data-language="{{ language.0 }}" class="change-language" title="{% trans 'Change to language:' %} {{ language.1 }}">{{ language.1 }}</a>
        {% endif %}
	{% endlanguage %}
</li>
{% endif %}
{% endfor %}
{% endif %}

{% addtoblock "script_ready" %}
    $('.change-language').on('click', function(e) {
        e.preventDefault()
        $("[name='next']", $("#language-form")).val($(this).attr('href'));
        $("[name='language']", $("#language-form")).val($(this).data('language'));
        $("#language-form").submit();
    });
{% endaddtoblock %}